html {
	overflow-Y: scroll;
}


#spanb1 {
	top: 0;
}

article {
	height: 460px;
	background-image: url(../img/segundaus2.png);	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
}

p.infoindex {
	position: absolute;
	font-family: helvetica;
	font-size: 20px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 7px black;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 800px) {
	p.infoindex {
	font-size: 16px;
}

	article {
	height: 360px;
}
}/*Final Media Querie*/

@media screen and (max-width: 400px) {

	p.infoindex {
	font-size: 13px;
}

	article {
	height: 260px;
}


}/*Final Media Querie*/