html {
	overflow-x:hidden;
}

#b2 {
	background-color: #116857;
	width: 110%;
}

#mapagoogle {

}

#a12 {
	padding: 0px;
	height: 380px;
}

#a2 {
	margin: 0px;
	width: 50%;
	display: inline-block;
	position: absolute;
}
