* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html {
   width: 100%;
   height: 100%;
}

body {
   width: 100%;
   height: 100%
}

.contenedor {
	background: #0072FF;
	width:100%;
	height: 100%;
	margin:auto;
 
}

header {
	padding: 16px;
	width: 100%;
	background-color: #052922;
	box-shadow: 0px 4px 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.limiteheader {
	width: 1500px;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img{
	width: 475px;
}

p.infocabecera {
	font-family: verdana;
	font-size: 20px;
	color: white;
	text-align: right;
	text-shadow: 3px 3px 5px black;
}

body {
	background:url(../img/Texture2.jpg);
	background-attachment: fixed; 
	background-repeat: repeat;
}

nav.menuhorizontal {
	width: 22%;
	height: 100%;
	display: inline-block;
	background-color: #052922;	
	box-shadow: 4px 4px 1px #161616;
	max-width: 380px;
}

div.botonesdiv {
	height: 60px;
	width: 100%;
	background-color: #0A3F34;
	margin-bottom: 3px;
	margin-top: 3px;
	cursor: pointer;
	transition: .15s;
}

.cancel {
	text-decoration: none;
}

#bs {
	height: 40px;
	background-color: #052922;
}

p.textomenusepar{
	text-decoration: none;
	font-family: verdana;
	font-size: 20px;
	color: white;
	cursor: pointer;
	padding-left: 63px;
	padding-top: 5px;
	text-shadow: 3px 3px 5px black;
}

#b1 {
	background-image: url(../img/ico/home.svg);
	background-repeat: no-repeat;
	background-position: 12px center;
}

#b2 {
	background-image: url(../img/ico/location.svg);
	background-repeat: no-repeat;
	background-position: 12px center;
}

#b3 {
	background-image: url(../img/ico/info.svg);
	background-repeat: no-repeat;
	background-position: 12px center;
}

#b4 {
	background-image: url(../img/ico/images.svg);
	background-repeat: no-repeat;
	background-position: 12px center;
}

#b5 {
	background-image: url(../img/ico/envelop.svg);
	background-repeat: no-repeat;
	background-position: 12px center;
}

#b6 {
	background-image: url(../img/ico/home3.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
}

#b7 {
	background-image: url(../img/ico/home3.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
}

.textomenu {
	padding-left: 60px;
	line-height: 60px;
	text-decoration: none;
	font-family: verdana;
	font-size: 20px;
	text-shadow: 3px 3px 5px black;
	color: white;
	cursor: pointer;
}

.textomenucabanas {
	padding-left: 75px;
	line-height: 60px;
	text-decoration: none;
	font-family: verdana;
	font-size: 20px;
	text-shadow: 3px 3px 5px black;
	color: white;
	cursor: pointer;
}
/*
#bDatos {
	height: 100px;
}

p.datos {
	font-family: verdana;
	font-size: 18px;
	color: white;
	text-align: center;
}
*/
#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover, #b7:hover{
	background-color: #116857;
	width: 110%;
}

section.principal{
	display: inline-block;
	height: 100%;
	width: 78%;
	float: right;
}

article {
	position: relative;
	width: 90%;
	margin: auto;
	margin-top: 25px;
	padding: 20px;
	background-color: #22313F;
}