html {
	overflow-x:hidden;
}

#b2 {
	background-color: #116857;
	width: 110%;
}

#mapagoogle {

}

#a12 {
	padding: 0px;
	height: 380px;
}

#a2 {
	margin: 0px;
	width: 50%;
	display: inline-block;
	position: absolute;
}

p.titleindicaciones {
	padding-top: -5px;
	padding-bottom: 8px;
	font-size: 25px;
	font-family: verdana;
	color: white;
}

p.pindicaciones {
	font-size: 18px;
	font-family: helvetica;
	color: white;
	padding-top: 5px;
	padding-left: -5px;
	padding-right: -5px;
}

hr {
	background:#F64740;
	height:5px;
	border:none;
}
