* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html {
   width: 100%;
   height: 100%;
}

body {
   width: 100%;
   height: 100%
}

.contenedor {
	background: #0072FF;
	width:100%;
	height: 100%;
	margin:auto;
 
}

header {
	padding: 15px;
	width: 100%;
	background-color: #052922;
	box-shadow: 0px 4px 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

div.limiteheader {
	width: 1170px;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img{
	width: 475px;
}

p.infocabecera {
	font-family: verdana;
	font-size: 18px;
	color: white;
	text-align: right;
	text-shadow: 3px 3px 5px black;
}

p#dosbr {
	text-align: center;
	display: none;
}

body {
	background:url(../img/Texture2.jpg);
	background-attachment: fixed; 
	background-repeat: repeat;
}

.wrap {
	height: 60px;
	width: 100%;
	background-color: #0A3F34;
}

hr#navline {
	height: 5px;
	width: 100%;
	background-color: #116857;
	margin-top: -5px;
}

nav.menu_normal {
	width: 90%;
	margin: auto;
	max-width: 1170px;
	background-color: #0A3F34;
}

nav ul.ul_normal {
	list-style: none;
}

nav > ul.ul_normal {
	display: table;
	width: 100%;
	position: relative;
}

nav > ul.ul_normal li.li_normal {
	display: table-cell;
}

nav > ul.ul_normal li.li_normal a {
	font-family: verdana;
	font-size: 18px;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	background-color: #0A3F34;
	overflow: hidden;
}

nav > ul.ul_normal > li.li_normal > a span {
	background: #116857;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 55px;
	transition: .22s;
}

nav > ul.ul_normal > li.li_normal > a span .icon {
	display: block;
	line-height: 60px;
	font-size: 25px;
	transition: .22s;
}

nav > ul.ul_normal > li.li_normal > a:hover > span {
	top: 0px;
}

nav > ul.ul_normal > li.li_normal > ul a:hover {
	
}

/*Cabanas*/
nav > ul.ul_normal > li.li_normal:hover > ul {
	height: 120px;
}
 
nav > ul.ul_normal > li.li_normal > ul {
	z-index: 1000;
	display: block;
	position: absolute;
	right: 0;
	overflow: hidden;
	height: 0%;
	transition: .3s;
}

nav > ul.ul_normal > li.li_normal > ul > li a:hover {
	background:#5da5a2;
}

nav > ul.ul_normal > li.li_normal > ul > li {
	display: block;
	height: 60px;
	width: 194px;
}

/*Colores Menu*/
nav ul.ul_normal li.li_normal a #b1 {
	background: #116857;
}
 
nav ul.ul_normal li.li_normal a #b2 {
	background: #116857;
}
 
nav ul.ul_normal li.li_normal a #b3 {
	background: #116857;
}
 
nav ul.ul_normal li.li_normal a #b4 {
	background: #116857;
}
 
nav ul.ul_normal li.li_normal a #b5 {
	background: #116857;
}

nav ul.ul_normal li.li_normal a #b6 {
	background: #116857;
}

/*Menu Resonsive*/
div.menu_bar {
	display: none;
}

.menu_bar {
	height: 60px;
	width: 100%;
	background-color: #0A3F34;
}

.menu_bar a.bt-menu {
	padding-left: 30px;
	line-height: 60px;
	color: white;
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}

span.icon-menu {
	float: right;
	padding: 20px;
}

nav.responsive {
	display: block;
}

nav.responsive > ul {
	position: absolute;
	background-color: #0A3F34;
	width: 100%;
	height: 0px;
	overflow: hidden;
	z-index: 1100;
}

nav.responsive > ul > li {
	display: block;
	height: 50px;
	width: 100%;
	background: #116857;
	margin-bottom: 3px;
}

nav.responsive > ul > li a {
	font-size: 18px;
	font-family: verdana;
	line-height: 50px;
	color: white;
	text-decoration: none;
	list-style: none;
}

nav.responsive > ul > li a .icon_responsive {
	font-size: 20px;
	line-height: 50px;
	padding: 15px;
}

nav.responsive > ul > li > a#b6_responsive {
	margin-left: 25px;
}

li#li_cabanas {
	background: #0A3F34;
}

/*Fin Menu Responsive*/
section.principal{
	margin: auto;
	display: block;
	width: 90%;	
}

article {
	z-index: 20;
	max-width: 1170px;
	position: relative;
	width: 100%;
	margin: auto;
	margin-top: 25px;
	padding: 20px;
	background-color: #22313F;
}

p.titlearticle {
	padding-top: -5px;
	padding-bottom: 8px;
	font-size: 25px;
	font-family: verdana;
	color: white;
}

p.particle {
	font-size: 18px;
	font-family: helvetica;
	color: white;
	padding-top: 5px;
	padding-left: -5px;
	padding-right: -5px;
	text-align: justify;
}

p.destacadoarticle {
	font-size: 30px;
	font-family: helvetica;
	color: white;
	padding-top: 5px;
	text-align: center;
}

hr {
	background:#F64740;
	height:5px;
	border:none;
}







@media screen and (max-width: 800px) {
	.logo img {
		width: 350px;
}

	p.infocabecera {
	font-size: 14px;
}

	nav.menu_normal > ul li a {
	font-size: 14px;
}

	nav.menu_normal > ul > li > ul > li {
	width: 120px;
}
}/*Final Media Querie*/

@media screen and (max-width: 670px) {
	#dosbr {
	display: block !important;
	float: none;
}
	
	#normal {
	display: none;
}
	
	div.limiteheader {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
	
	p.particle {
	text-align: left !important;
}

	nav.menu_normal {
	display: none !important;
}

	div.menu_bar {
	display: block !important;
}
	
	hr#navline {
	display: none;
}

}/*Final Media Querie*/

@media screen and (max-width: 460px) {
	.logo{
	width: 84%;
}

	.logo img{
	width: 100%;
}

	p.particle {
	text-align: center !important;
}


}/*Final Media Querie*/

@media screen and (max-width: 360px) {




}/*Final Media Querie*/