article{
	background-image: url(../img/segundaus2.png);	
	background-repeat: no-repeat;
	width: 930px;
	height: 460px;
	background-size: 100% 100%;
}

#b1 {
	background-color: #116857;
	width: 110%;
}

p.infoindex {
	font-family: helvetica;
	font-size: 20px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 7px black;
}