#b5 {
	background-color: #116857;
	width: 110%;
}

p.titleinfo {
	padding-top: -5px;
	padding-bottom: 8px;
	font-size: 25px;
	font-family: verdana;
	color: white;
}

p.pinfo {
	font-size: 18px;
	font-family: helvetica;
	color: white;
	padding-top: 5px;
	padding-left: -5px;
	padding-right: -5px;
}

p#destacadoinfo {
	font-size: 30px;
	font-family: helvetica;
	color: white;
	padding-top: 5px;
	text-align: center;
}

hr {
	background:#F64740;
	height:5px;
	border:none;
}


#principal1 {	
	background-color: #22313F;
	padding: 15px;
	height: 80px;
}

#principal2 {	
	background-color: #22313F;
	padding: 15px;
	margin-top: 30px;
	height: 140px;
}

#principal3 {	
	background-color: #22313F;
	padding: 15px;
	height: 100px;
	margin-top: 30px;
}

#formulario {
	background-color: black;
	margin-top: -130px;
}