#b6 {
	background-color: #116857;
	width: 110%;
}

section.principal {

}

p.particle {
	font-size: 22px;
}

#mascotas {
	text-align: center;
}

#a12 {
	padding: 0px;
	height: 380px;
}

#a1 {
	margin: 0px;
	width: 50%;
	display: inline-block;
	position: absolute;
}

.fotocabana {
	width: 50%;
	float: right;
	max-height: 400px;
	top: 50%;
}

#a3 {
}

.contenedorimages {
	max-width: 780px;
    margin: auto;
} 

div.imagen {
	float: left;
	width: 375px;
	margin: 7.5px;

}

div.imagen img {
	width: 100%;
	border-radius: 4px;
}

@media screen and (max-width: 1167px) {

	.contenedorimages {
		max-width: 390px;
    	margin: auto;
}